.heading{
    font-size: xx-large;
    text-align: center;
}
.navbar{
    display: flex;
    justify-content: space-between;   
    align-items: center;
    padding: 10px 20px;
    list-style: none;
}
.nav{
    display: flex;
    gap: 20px;
}
